# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# macOS
.DS_Store
